* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

header {
  padding: 2% 10%;
}

button {
  font-size: 2rem;
  display: block;
  margin: 0 auto;
  padding: 20px 10px;
  width: 500px;
}

h1 {
  font-size: 3rem;
  margin-bottom: 30px;
}

nav {
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: space-between;

  #logo {
    display: block;
    margin: 10px;
  }

  ul {
    list-style: none;
  }

  li {
    display: inline;
    text-decoration: none;
    margin: 0 20px;
  }

  li:not(:last-child)::after {
    content: "|";
    position: relative;
    left: 20px;
  }
}

.logo-border {
  border-top: 2px solid red;
}

main {
  padding: 0 10%;

  section {
    border: 1px solid black;
    padding: 2% 2%;
    margin-bottom: 30px;
  }
}

.article {
  display: flex;
  text-align: justify;

  img {
    display: block;
    width: 100%;
  }

  p {
    padding-right: 20px;
  }
}

.img-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;

  img {
    border-radius: 100%;
  }

  div {
    margin-bottom: 50px;
  }
}
